body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(17, 17, 17);
  color: whitesmoke;
}

header,
footer {
  background: #9e9595;
  color: rgb(3, 3, 3);
  padding: 10px;
}
header nav ul {
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 350px;
}
header nav ul li a {
  color: rgb(59, 2, 2);
  text-decoration: underline;
}
header nav ul li a:hover {
  color: #03e9fa;
}

section {
  padding: 20px;
}

.project {
  border: 1px solid #03e9fa;
  margin: 10px auto;
  padding: 10px;
  max-width: 500px;
  background: #000000c0;
  border-radius: 10px 20px 30px 40px;
}
.profile-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: #10e3eb;
  object-fit: cover;
  margin: 30px auto;
  display: block;
  z-index: 10;
}
.skills {
  text-align: center;
  padding: 20px;
}
